<div class="logout-form mx-auto my-5">
    <mat-card class="py-3">
        <mat-card-title class="text-center mt-3 mb-4 fs-2">Logout</mat-card-title>
        <mat-card-content>
            <div class="text-center">
                <mat-icon style="font-size:50px" class="h-100 w-100 text-secondary mb-3" aria-hidden="false" aria-label="Example account_circle icon" fontIcon="account_circle"></mat-icon><br>
                <mat-label>You're logged in. Want to log out? </mat-label>
                <div class="text-center mt-3">
                    <button mat-raised-button color="primary" type="submit" (click)="logOut()">Confirm</button>
                </div>
                
            </div>
        </mat-card-content>
    </mat-card>
</div>