<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img mat-card-image class="card-img-top mb-5 mb-md-0" [src]="book.image ? (imagePath + book.image) : 'https://dummyimage.com/600x700/dee2e6/6c757d.jpg'" alt="..." />
            </div>
            <div class="col-md-6">
                <mat-card-header>
                      <mat-card-title class="d-block fs-1 fw-bold">{{book.title}}</mat-card-title>
                      <mat-card-subtitle class="d-block fs-3 mb-5">{{book.price | currency}}</mat-card-subtitle>
                      <mat-card-subtitle class="d-block text-black-50 mb-1">{{book.categoryName}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                    {{book.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex mt-5">
                    <input matInput [ngClass]="{'form-control text-center me-3': true, 'border-danger': !inputQuantity || inputQuantity.invalid}" id="inputQuantity" type="number" [formControl]="inputQuantity" style="max-width: 4rem" />
                    <button mat-stroked-button [disabled]="!inputQuantity || inputQuantity.invalid" (click)="addToCart(book.id)">ADD TO CART</button>
                </mat-card-actions>
                <mat-hint class="d-block mt-2 text-black-50">Avaiilable in stock: {{book.quantity}}</mat-hint>
            </div>
        </div>
    </div>
</section>