<div class="register-form mx-auto my-5">
    <mat-card class="py-3">
        <mat-card-title class="text-center mt-3 mb-4 fs-2">Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-50 pe-2">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName" id="firstName">
                    <mat-error *ngIf="myError('firstName', 'maxlength')">Not more then 30 characters long.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName" id="lastName">
                    <mat-error *ngIf="myError('lastName', 'maxlength')">Not more then 30 characters long.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" id="email">
                    <mat-error *ngIf="myError('email', 'email')">Invalid email</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Admin Code</mat-label>
                    <input matInput type="text" formControlName="adminCode" id="adminCode">
                    <mat-hint align="end">This field is for testing admin role. Code is 111</mat-hint>
                    <mat-error *ngIf="myError('adminCode', 'maxlength')">Not more then 3 characters long.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 mb-4">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" id="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="end">Password must have lower-case, upper-case, numbers, symbols and
                        at least 6 characters long.</mat-hint>
                    <mat-error *ngIf="myError('password', 'pattern')">Invalid password: must have
                        lower-case, upper-case, numbers, symbols and at least 6 characters long</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 mb-4">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword" id="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="myError('confirmPassword', 'match')">Passwords do not match</mat-error>
                </mat-form-field>
                <div class="text-end">
                    <button class="submit-btn" mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Register</button>
                    <a routerLink="../login" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>