<div class="customer-detail-form mx-auto my-5">
    <mat-card class="py-3">
        <mat-card-title class="text-center mt-3 mb-4 fs-2">{{customerId? 'Update Customer' : 'Add Customer'}}</mat-card-title>
        <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-50 pe-2">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName" id="firstName">
                    <mat-error *ngIf="myError('firstName', 'maxlength')">Not more then 30 characters long.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName" id="lastName">
                    <mat-error *ngIf="myError('lastName', 'maxlength')">Not more then 30 characters long.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" id="email">
                    <mat-error *ngIf="myError('email', 'email')">Invalid email format</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Phone number</mat-label>
                    <input matInput type="text" formControlName="tel" id="tel">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" id="address"></textarea>
                  </mat-form-field>
                <div class="text-end">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">{{customerId? 'Update' : 'Add'}}</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>