.order-detail-form {
  max-width: 900px;
}

.customer-info {
  font-weight: normal;
}
:host tr.mat-mdc-footer-row {
  font-weight: bold;
}
  
:host .mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
  background-color: #eee;
}